.todo {
    display: flex;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}
.striked{
    text-decoration: line-through;
}
.check{
    padding: 10px;
    border:1px solid steelblue;
    margin-right: 10px;
    border-radius: 5px;
    background-color:steelblue;
}

.task{
    padding: 10px;
    border:1px solid steelblue;
    margin-right: 10px;
    border-radius: 5px;
    background-color:steelblue;
}

.delete{
    padding: 10px;
    border:1px solid steelblue;
    border-radius: 5px;
    background-color:steelblue;
}